<!DOCTYPE html>
<html>

<head>
    <title>Web application</title>
</head>

<body>

<h2>I am enjoying Zero To Hero</h2>

<form id="form2" name="zth" action="/zerotohero" method="post">
    <label for="first_name">First name:</label>
    <input type="text" id="first_name" name="first_name"/>
    <label for="last_name">Last name:</label>
    <input type="text" id="last_name" name="last_name"/>
    <button type="text">Submit</button>
</form>

<script type="application/javascript" src="js/util.js"></script>
</body>
</html>
